html{
    font-size: 62.5%;
}
body{
    background-color: blanchedalmond;}
.contenido{
    margin-top: 10px;
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 384px 384px;
    grid-template-rows: 200px 200px;
    gap: 12px;
}
.contenido .imagen{
    grid-column: 1/2;
    display: grid;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.contenido .ingredientes{
    display: grid;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin: 50px;
    flex-direction: column;
}
.contenido .foto{
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.contenido .filosofia{
    display: grid;
    grid-column: 2/3 ;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    height: 80px;
    justify-content: right;
    background-color: blueviolet;
    font: size 2rem;
    padding: 10px;
    margin: 0px;
    align-items: center;
}
a img{
    height: 88px;
    padding-left: 0%;
    padding-right: 600px;
}
nav ul li {
    display: inline;
    text-decoration: none;
    margin: 16px;
}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    color:white
}
footer{
    display: flex;
    height: 120px;
    background-color: blueviolet;
    font: size 2rem;
    padding: 10px;
    margin: 0px;
    align-items: center;
}
main div h1{
        font-size: 3rem;
        margin-top: 48px;
        text-align: center;
}
.contenidoNos{
        margin-top: 16px;
        margin-right: 160px;
        margin-left: 160px;
        margin-bottom: 60px;
        display: grid;
        grid-template-columns: 380px 260px;
        grid-template-rows: 200px;
}
    .contenidoNos .imagenNos{
        width: fit-content;
    }
    footer a img{
        height: 88px;
        width: 88px;
        padding-right: 100px;
        padding-left: 40px;
        }
    footer section p{
        color: white;
        display: inline;
        justify-content: center;
        margin-right: 300px;
        margin-left: 300px;
    }
    footer div svg{
        display: inline;
        justify-content: right;
    }
    @media (max-width: 1200px){
        .contenido{
            margin-top: 10px;
            margin-right: 160px;
            margin-left: 160px;
            margin-bottom: 60px;
            display: grid;
            grid-template-columns: 384px 384px;
            grid-template-rows: 200px 200px;
            gap: 12px;
        }
        .contenido .imagen{
            grid-column: 1/2;
            grid-row: 1/2;
            display: grid;
            margin: 50px;
            display: flex;
            flex-direction: column;
        }
        .contenido .ingredientes{
            display: grid;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            margin: 50px;
            flex-direction: column;
        }
        .contenido .foto{
            display: grid;
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 50px;
            display: flex;
            flex-direction: column;
        }
        .contenido .filosofia{
            display: grid;
            grid-column: 2/3 ;
            grid-row: 3/4;
            display: flex;
            justify-content: center;
            margin: 50px;
            display: flex;
            flex-direction: column;
        }
        header{
            display: flex;
            height: 80px;
            justify-content: right;
            background-color: blueviolet;
            font: size 2rem;
            padding: 10px;
            margin: 0px;
            align-items: center;
        }
        a img{
            height: 88px;
            padding-left: 0%;
            padding-right: 600px;
        }
        nav ul li {
            display: inline;
            text-decoration: none;
            margin: 16px;
        }
        nav ul li a{
            text-decoration: none;
            list-style-type: none;
            color:white
        }
        footer{
            display: flex;
            height: 120px;
            background-color: blueviolet;
            font: size 2rem;
            padding: 10px;
            margin: 0px;
            align-items: center;
        }
            main div h1{
                font-size: 3rem;
                margin-top: 48px;
                text-align: center;
            }
            .contenidoNos{
                display: grid;
                grid-template-columns: 380px 260px;
                grid-template-rows: 200px;
            }
            .contenidoNos .imagenNos{
                width: 240px;
                height: 300px;
                display: grid;
                grid-column: 1/2 ;
                grid-row: 1/2; 
            }
            .ingredientesNos{
                display: grid;
                grid-column: 2/3 ;
                grid-row: 1/2; 
            }
            footer a img{
                height: 88px;
                width: 88px;
                padding-right: 100px;
                padding-left: 40px;
                }
            footer section p{
                color: white;
                display: inline;
                justify-content: center;
                margin-right: 300px;
                margin-left: 300px;
            }
            footer div svg{
                display: inline;
                justify-content: right;
            }
    }
    @media (max-width: 480px){
        header{
            display: flex;
            flex-wrap: wrap;
            height: 120px;
            justify-content: center;
            background-color: blueviolet;
            font: size 2rem;
            padding: 10px;
            margin: 0px;
            align-items: center;
        }
        a img{
            height: 60px;
            width: 60px;
            padding-left: 0%;
            padding-right: 32px;
        }
        nav ul li {
            display: block;
            text-decoration: none;
            margin: 8px;
        }
        nav ul li a{
            display: block;
            text-decoration: none;
            list-style-type: none;
            color:white
        }
        .section .h1{
            text-align: center;
            font-size: 20px;
        }
        .inicio .img{
            display: flex;
            max-width: 480px;
            max-height: 140px;
        }
        }
        .contenido{
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: repeat (5 140px);
            gap: 8px;
        }
        .contenido .imagen{
            display: grid;
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 140px;
            max-height: 140px;
        }
        .contenido .ingredientes{
            display: grid;
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 1rem;
        }
        .contenido .foto{
            display: grid;
            grid-column: 1/2;
            grid-row: 3/4;
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 140px;
            max-height: 140px;
        }
        .contenido .filosofia{
            display: grid;
            grid-column: 1/2;
            grid-row: 4/5;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 1rem;
        }
        .contenidoNos{
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: repeat(3 160px);
        }
        .contenidoNos .imagenNos{
            max-width: 140px;
            max-height: 160px;
        }
        div h1{
            text-align: center;
        }
        footer a img{
            height: 60px;
            width: 60px;
            padding-right: 40px;
            padding-left: 24px;
            }
        footer section p{
            color: white;
            display: inline;
            justify-content: center;
            margin-right: 44px;
            margin-left: 44px;
        }
        footer div svg{
            display: inline;
            justify-content: right;
        }
    }